{% extends "layout.twig" %}

{% block title %}Resumes{% endblock %}
{% block content %}
    <p>Click to view.</p>
    <div class="list-group">
        {% for item in itemList %}
            <a class="list-group-item" href="{{ path('resumes.download', {bucket: item.bucket, key: item.key}) }}">
                <strong>{{ item.name}}</strong> -- <em>{{ item.originalFilename }}</em>
            </a>
        {% endfor %}
    </div>
{% endblock %}

